/* ----------------Общие стили --------------------*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto; /* //помещается в центр */
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  width: 200px;
  height: 55px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-blue {
  background: #3a95ff;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 37px;
}

.btn-white {
  border: 1px solid #3a95ff;
  border-radius: 3px;
  box-sizing: border-box; /* раницы входит в ширину блока */
  margin-right: 37px;
}

h2 {
  margin: 0 auto;
}

h3 {
  margin: 0 auto;
}

h4 {
  margin: 0px;
}

/* p{
    margin: 0 auto;
} */

/* -----------------------------Стили хедера ----------------------*/

.top-menu,
.main-menu {
  border-bottom: 1px solid #dedede;
}

.top-menu-wrap {
  display: flex;
  justify-content: space-between;
  height: 67px;
  align-items: center;
}

.top-menu-list {
  display: flex;
  justify-content: space-between;
  width: 945px;
  text-decoration: none;
}

.top-menu-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #424242;
}

.top-menu-list-1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 352px;
}

.top-menu-list-2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 340px;
}

.main-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 73px;
  align-items: center;
}

.main-menu-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #424242;
}

/* Стили контента */



.bunner {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  height: 404px;
}

.bunner-wrap {
  display: flex;
  justify-content: space-between;
}

.bunner-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 437px;
}

.bunner-goal h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 110%;
  color: #212121;
  margin-top: 0;
}

.blue-text {
  color: #3a95ff;
}

.bunner-button {
  display: flex;
  justify-content: space-between;
}

/* .suggestions{
    display: flex;
}

.suggestion-wrap{
    margin: 70px 0 70px 0;
} */

.suggestions h1 {
  font-weight: 600;
  font-size: 40px;
}
.suggestions p {
  font-weight: 400;
  font-size: 20px;
}

.suggestions-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.suggestions-block-item {
  display: flex;
  justify-content: space-between;
  width: 555px;
  height: 300px;
  background: #eff2f5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 62px;
  box-sizing: border-box;
  margin-bottom: 62px;
}

.suggestions-block-item img {
  border-radius: 8px;
}

.suggestions-block-item-text {
  padding: 34px;
}

.suggestions-block-item-text h3 {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
}
.suggestions-block-item-text p {
  font-weight: 400;
 font-size: 18px;
}


.cards {
  height: 775px;
  background: #eff2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cards-proc {
  width: 750px;
  height: 500px;
  background: #e0e5ea;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-proc-header {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.cards-proc-header h3 {
  margin: 34px 0 0 0;
  font-weight: 600;
font-size: 38px;
line-height: 130%;
}

.cards-proc-section {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cards-proc-section-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 157px;
}

.cards-proc-section-item h3 {
  font-weight: 500;
font-size: 30px;
line-height: 130%;
border-bottom: 1px solid #3A95FF;
width: 157px;
text-align: center;
}
.cards-proc-section-item p {
  font-weight: 500;
font-size: 18px;
line-height: 130%;
text-align: center;
}


.cards-proc-button {
  margin: 0px 0px 42px 100px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.cards-credit {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-credit-item {
  width: 360px;
  height: 235px;
  background: #f7f7f7;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25),
    5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  
}

.cards-credit-item h4 {
  margin: 34px;
  font-weight: 600;
font-size: 26px;
line-height: 130%;
}
.cards-credit-item-img {
  margin: 34px;
  
}


.getting-wrap {
  margin: 70px 0 70px 0;
}

.getting-wrap2 {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.getting-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.getting-item-text {
  display: flex;
  justify-content: center;
}

.getting-item-pic {
  display: flex;
  justify-content: center;
}

/* Стили футера */

footer {
  height: 160px;
  color: #424242;
  background: #eff2f5;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
